:root {
  --black: #000000;
  --black-soft: #212121;
  --blue: #2196f3;
  --grey: #757575;
  --grey-soft: #e5e5e5;
  --white: #ffffff;
  --darkgrey: #2f303a;
  --notwhite: #f5f4fa;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--grey);
  font-size: 14px;
}
.header {
  border-bottom: 1px solid #ececec;
  margin: 0px;
}
.style-header {
  display: flex;
}

.logo-style {
  padding-top: 24px;
}

.logo {
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.193;
  color: var(--black);
  letter-spacing: 0.03em;
  font-style: Raleway;
}
.footer-logo {
  color: var(--white);
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.193;
  letter-spacing: 0.03em;
  font-style: Raleway;
}
.blue-web {
  color: var(--blue);
}
.nav-list {
  list-style: none;
  display: flex;
  gap: 46px;
  margin: 0;
  padding: 32px 0 31px 93px;
}
.nav-link-blue {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  color: var(--blue);
  letter-spacing: 0.02em;
  font-style: normal;
  line-height: 1.142;
}
.nav-link-black {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  color: var(--black);
  letter-spacing: 0.02em;
  font-style: normal;
  line-height: 1.142;
}
.contact-list {
  list-style: none;
  display: flex;
  gap: 50px;
  margin: 0;
  padding: 32px 27px 31px 371px;
}
.icon-mail {
  margin-right: 10px;
  fill: #757575;
}

.mail-link {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  color: var(--blue);
  letter-spacing: 0.02em;
}
.mail-link:hover {
  color: #2196f3;
}
.mail-link:focus {
  color: #2196f3;
}

.phone-link {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  color: var(--black);
  letter-spacing: 0.02em;
}
.phone-link:hover {
  color: #2196f3;
}
.phone-link:focus {
  color: #2196f3;
}
.main-section {
  background-color: var(--darkgrey);
  width: 1600px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-section-text {
  font-style: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white);
  padding: 200 452 280;
}
.main-section-button {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  background-color: var(--blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-style: none;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  cursor: pointer;
  color: var(--white);
}
h1 {
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  padding-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36363636;
  margin: 0;
}
.lorem-ipsum-list {
  list-style: none;
  justify-content: center;
  display: flex;
  gap: 30px;
  justify-content: center;
  margin: 0;
  padding: 94px 15px;
}
h5 {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--black);
  margin: 0px auto;
  font-size: 14px;
}
.lorem-ipsum-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--grey);
  margin: 0;
  padding-top: 10px;
  padding-bottom: 3px;
}
.what-we-do-list {
  list-style: none;
  display: flex;
  gap: 30px;
  justify-content: center;
  margin: 0;
  padding: 0 15px 94px;
}
.what-we-do-header {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  color: var(--black);
  margin: 0 auto;
  padding: 0 424px 50px;
}
.our-team {
  background-color: var(--notwhite);
}
.our-team-header {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  color: var(--black);
  margin: 0;
  padding: 94px 495px 50px;
}

.our-team-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
  margin: 0;
  padding: 0 15px 94px;
}
figure {
  margin: 0;
}

.name {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.197;
  letter-spacing: 0.03em;
  color: var(--black);
  text-align: center;
  margin: 0;
  padding-top: 10px;
  padding-right: 50px;
}
.position {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.197;

  text-align: center;
  padding-bottom: 30px;
  padding-right: 50px;
}
.our-team-background {
  width: 270px;
  height: 368px;
  background-color: var(--white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
}
.footer {
  background: var(--darkgrey);
  padding: 60px;
}

.footer-list {
  padding-inline-start: 0px;
  text-align: left;
  list-style: none;
}

.adress-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--white);
}
.adress-list {
  display: flex;
  flex-direction: column;
  padding-bottom: 60px;
}
.portfolio-nav-list {
  list-style: none;
  list-style: none;
  display: flex;
  gap: 46px;
  margin: 0;
  padding: 32px 0 31px 93px;
}
.mail-link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1, 142;
  letter-spacing: 0.02em;
  color: var(--grey);
}

.mail-link-portfolio:hover {
  color: var(--blue);
}
.mail-link-portfolio:focus {
  color: var(--blue);
}

.button-list {
  list-style: none;
  padding: 94px 0 0 0;
  gap: 8px;
  justify-content: center;
  display: flex;
  list-style: none;
  padding-inline-start: 40px;
}
.button-portfolio {
  width: 91px;
  height: 38px;
  background-color: var(--notwhite);
  border-radius: 4px;
  border-style: none;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black);
  cursor: pointer;
}
.button-portfolio:hover {
  background-color: var(--blue);
  color: var(--white);
}
.portfolio-item {
  display: block;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  margin: 0 24px 4px 24px;
  padding-top: 24px;
}
.portfolio-product {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
  margin: 6px 0 20px 24px;
}

.porfolio-main-list {
  list-style: none;
  gap: 30px;
  box-sizing: border-box;
  margin: 50px 0 94px 0;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
}
.portfolio-main-list-backgroud {
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
}
